
.title
{
	width:18%;
	height:20%;
}
.logo
{
	width:100%;
	height:100%;
}
@media (max-width:375px){
.title
{
	width:49%;
	height:15%;
}
}
.backimg
{
	width:80%;
	height:68%;
	border:solid black;
	margin-top:15px;
	margin-left:130px;
	border-radius:30px;
	background-image:url("div-img.jpeg")
}
@media (max-width:375px){
	.backimg
{
	width:100%;
	height:52%;
	margin-top:10px;
	margin-left:0px;
	border:solid black;
	border-radius:30px;
	background-image:url("div-img.jpeg")
}
}
.back-white
{
	width:98%;
	height:93%;
	background-color:white;
	margin-top:2px;
	margin-left:10px;
	border-radius:30px;
}
@media (max-width:375px){	
	.back-white
{
	width:97%;
	height:96%;
	background-color:white;
	margin-top:-5px;
	margin-left:5px;
	border-radius:30px;
}
}
.resource
{
	text-align:center;
	font-family:Segoe UI Black;
	font-size:20px;
}
@media (max-width:375px){
	.resource
{
	text-align:center;
	font-family:Segoe UI Black;
	font-size:10px;
}
}
.line
{
	color:yellow;
}
.collection
{
	font-family:Agency FB;
}
.res-type
{
	text-align:center;
	font-size:24px;
	font-family:Arial Black;
	margin-top:-10px;
}
@media (max-width:375px){
	.res-type
{
	text-align:center;
	font-size:15px;
	font-family:Arial Black;
	margin-top:-10px;
}
}
.para
{
	margin-top:-20px;
	font-size:25px;
	font-family:Georgia;
	text-align:center;
	padding:20px;
	line-height:1.4;
}
@media (max-width:375px){
	.para
{
	margin-top:-23px;
	font-size:13px;
	font-family:Georgia;
	text-align:center;
	padding:20px;
	line-height:1.4;
}
}
.grade
{
	font-family:Segoe UI Black;
	font-size:14px;
	margin-left:150px;
}
@media (max-width:375px){
	.grade
{
	font-family:Segoe UI Black;
	font-size:14px;
	margin-left:15px;
	margin-top:-25px;
}
}
.num
{
	font-family:Arial Narrow;
}
.subject
{
	font-family:Segoe UI Black;
	font-size:14px;
	margin-left:500px;
	margin-top:-50px;
}
@media (max-width:375px){
	.subject
{
	font-family:Segoe UI Black;
	font-size:14px;
	margin-left:150px;
}
}

/* FIRST */

.first
{
	width:70%;
	height:120%;
	margin-left:195px;
	border:solid #F8F8F8;
	border-radius:20px;
}
@media (max-width:375px) {
.first
{
	width:93%;
	height:75%;
	margin-left:10px;
	border:solid #F5F5F5;
}
}
.first:hover
{
	box-shadow:3px 3px 20px 15px #fae3a5;
}
.imgdata
{
	width:99%;
	height:55%;
	padding:5px;
}
@media (max-width:375px) {
	.imgdata
{
	width:100%;
	height:45%;
}
}
.img1
{
	width:100%;
	height:100%;
	border-radius:10px;
}
@media (max-width:375px) {
	.img1
{
	width:100%;
	height:100%;
}
}
.fadein img
{
	opacity:0.5;
	transition: 1s ease;
}

.fadein  img:hover
{
	opacity:1;
	transition: 1s ease;
	border-radius:20px 20px;
}
.cont-head
{
	font-size:30px;
	font-family:Impact;
	text-align:center;
	margin-top:-3px;
}
@media (max-width:375px) {
	.cont-head
{
	font-size:18px;
	font-family:Impact;
	text-align:center;
	margin-top:3px;
}
}
.content
{
	font-size:25px;
	font-family:Microsoft JhengHei Light;
	padding:15px;
	margin-top:-5px;
}
@media (max-width:375px) {
	.content
{
	font-size:15px;
	font-family:Microsoft JhengHei Light;
	padding:5px;
	margin-top:-10px;
}
}
.cont-grade
{
	font-family:Segoe UI Black;
	font-size:18px;
	margin-top:-15px;
	margin-left:10px;
}
@media (max-width:375px) {
	.cont-grade
{
	font-family:Segoe UI Black;
	font-size:13px;
	margin-top:-15px;
	margin-left:10px;
}
}
.cont-num
{
	font-family:Arial Narrow;
	margin-left:15px;
	font-size:19px;
}
@media (max-width:375px) {
	.cont-num
{
	font-family:Arial Narrow;
	margin-top:10px;
	margin-left:10px;
	font-size:18px;
}
}
a
{
	text-decoration:none;
}
.read-more
{
	font-size:20px;
	font-family:Microsoft JhengHei Light;
	color:red;
	background-color:#F8EDED;
	border-radius:15px;
	padding:10px;
	margin-left:520px;
}
@media (max-width:375px) {
	.read-more
{
	font-size:12px;
	font-family:Microsoft JhengHei Light;
	color:red;
	background-color:#F8EDED;
	border-radius:15px;
	padding:10px;
	margin-left:160px;
}
}
.read-more:hover
{
	color:green;
	background-color:#E7C4C4	
}
/* FOOTER */
.fott
{
	width:101%;
	height:65%;
	background-color:black;
	margin-left:-6px;
}
@media (max-width:375px){
	.fott
{
	width:103%;
	height:50%;
	background-color:black;
	margin-left:-6px;
}
}
.fott-logo
{
	width:15%;
	height:25%;
	margin-top:35px;
	margin-left:40px;
}
@media (max-width:375px){
	.fott-logo
{
	width:30%;
	height:25%;
	margin-top:35px;
}
}
.address
{
	width:15%;
	height:40%;
	/*margin-top:-180px;*/
	margin-left:40px;
}
@media (max-width:375px){
	.address
{
	width:40%;
	height:45%;
	margin-left:5px;
}
}
.address-in
{
	color:#FAEAEA;
	font-size:16px;
	font-family:Yu Gothic;
}
@media (max-width:375px){
	.address-in
{
	color:#FAEAEA;
	font-size:13px;
	font-family:Yu Gothic;
}
}
.icon
{
	width:22%;
	height:12%;
	margin-top:-380px;
	margin-left:900px;
 	display:flex;
	justify-content:space-around;
}
@media (max-width:375px){
	.icon
{
	width:43%;
	height:12%;
	margin-top:-20px;
	margin-left:10px;
	display:flex;
	justify-content:space-between;
}
}
.fa-instagram
{
	font-size:40px;
	background-color:black;
	color:#E7C4C4;
}
@media (max-width:375px){
	.fa-instagram
{
	font-size:25px;
	background-color:black;
	color:#E7C4C4;
}
}
.fa-instagram:hover
{
	color:gold;
	cursor:pointer;
}
.fa-youtube-play
{
	font-size:40px;
	background-color:black;
	color:#E7C4C4;
}
@media (max-width:375px){
	.fa-youtube-play
{
	font-size:25px;
	background-color:black;
	color:#E7C4C4;
}
}
.fa-youtube-play:hover
{
	color:gold;
	cursor:pointer;
}
.fa-facebook-square
{
	font-size:40px;
	background-color:black;
	color:#E7C4C4;
}
@media (max-width:375px){
	.fa-facebook-square
{
	font-size:25px;
	background-color:black;
	color:#E7C4C4;
}
}
.fa-facebook-square:hover
{
	color:gold;
	cursor:pointer;
}
.fa-twitter
{
	font-size:40px;
	background-color:black;
	color:#E7C4C4;
}
@media (max-width:375px){
	.fa-twitter
{
	font-size:25px;
	background-color:black;
	color:#E7C4C4;
}
}
.fa-twitter:hover
{
	color:gold;
	cursor:pointer;
}
.total-div
{
	width:100%;
	height:28%;
	margin-top:-10px;
	display:flex;
	justify-content:space-around;
}
@media (max-width:375px){
	.total-div
{
	width:53%;
	height:78%;
	margin-top:-220px;
	margin-left:180px;
	/*display:flex;
	justify-content:space-around;*/
}
}
.first-div
{
	width:40%;
	height:92%;
	margin-top:-280px;
	margin-left:80px;
	font-size:20px;
	font-family:Yu Gothic;
}
@media (max-width:375px){
	.first-div
{
	margin-top:10px;
	margin-left:-70px;
	font-size:11px;
	font-family:Yu Gothic;
}
}
a
{
	color:#DAD7D7;
	text-decoration:none;
}
a:hover
{
	color:gold;
}
h4
{
	color:white;
	font-size:20px;
	font-family:Yu Gothic;
	text-align:center;
	margin-top:315px;
}
@media (max-width:375px){
	h4
{
	color:white;
	font-size:10px;
	font-family:Yu Gothic;
	text-align:center;
	margin-top:10px;
}
}